<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>158267982169-5sboj9ap7t9tftujpr41t74qfb0m92km.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.158267982169-5sboj9ap7t9tftujpr41t74qfb0m92km</string>
	<key>API_KEY</key>
	<string>AIzaSyA87H_aJjC_-UvPdsdJzFBkor15GnYFL3o</string>
	<key>GCM_SENDER_ID</key>
	<string>158267982169</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-ayisha</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-ayisha.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:158267982169:ios:d9a37e2989ccd581efcc48</string>
</dict>
</plist>